name: build image workflow
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-20.04"
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build container image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}/base-ansible-image:4
